$def with (dataset_list, ip)
#!ipxe

set op create
:start
menu Please choose an operating system to boot
item --gap -- IP:[$${ip}]
item reload  Reload menu
item --gap -- Volume Operations
item create Create
item delete Delete
item snapshot Sanpshot
item hook Hook
item --gap -- Boot Volume

item osx Boot Local HD
$for k, ds in dataset_list.items():
    $if ds.snapshot == 1:
        item $ds.name [$ds.name]
    $else:
        item $ds.name $ds.name

item --gap -- --------
item installwin7 Install Windows 7(wimboot)
item shell Enter Shell
choose --default osx --timeout 10 selected && goto $${selected}

:reload
chain http://${ip}:8080/menu


:shell
shell

:delete
chain http://${ip}:8080/delete_menu

:create
clear volname
echo -n Enter volume name you want to create: && read volname
echo -n Enter volume Size you want to create: && read volsize
chain http://${ip}:8080/create/$${volname}/$${volsize}

:snapshot
chain http://${ip}:8080/snapshot_menu

:hook
chain http://${ip}:8080/hook_menu

:osx
sanboot -n -d 0x81

:installwin7
chain http://${ip}/win7/boot.ipxe

$for k, ds in dataset_list.items():
    :$ds.name
    chain http://${ip}:8080/boot/$ds.name/$${mac:hexraw}
